<html xmlns="http://www.wosowoso.com/" lang="gb2312">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<meta http-equiv="Content-Language" content="gb2312" />
<meta name="author" content="comfill@163.com" />
<title>简历模板，个人简历模板</title>
<link href="static/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="main">

<!--左边-->
<div id="left">
<div id="ltop"></div><!--top-->
<div class="text">
<div class="title">&nbsp;&nbsp;&nbsp;∵&nbsp;学历及工作经历</div>
<div>
<ul class="abc">
<li class="tit">√&nbsp;&nbsp;&nbsp;&nbsp;学历</li>
<li>目前就读于东北大学东软信息学院</li>
<li class="tit">√&nbsp;&nbsp;&nbsp;&nbsp;工作经历</li>
<li>2003年，学院网站网站设计师</li>
<li>2003年，加入蓝色理想管理团队，任艺术与设计版版主一职</li>
<li>2003年，负责蓝色理想logo子站设计及开发</li>
<li>2004年，中文标准小组成员之一</li>
<li>2004年，在学院及大连地区高校推广“WEB标准”</li>
</ul>
</div>

<div>
<ul class="abc">
<li class="tit">√&nbsp;&nbsp;&nbsp;&nbsp;曾获奖项</li>
<li>东北大学东软信息学院第二届歌手大赛优秀歌手</li>
<li>2002年11月</li>
<li>东软</li>
<li>详情</li>
</ul>
</div>

<div>
<ul class="abc">
<li>&nbsp;</li>
<li>2003-2004学年获科技创新奖及奖金</li>
<li>2003-2004学年度</li>
<li>东软</li>
<li>详情</li>
</ul>
</div>

</div>
</div>

<!--右边开始-->
<div id="right">
<div id="rtop"></div><!--top-->
<div class="text">
<div class="title">&nbsp;&nbsp;&nbsp;∵&nbsp;工作经历</div>
<div>
<ul id="about">
<li>姓名：某某某 </li>
<li>网名：some body</li>
<li>生日：1983年4月14日</li>
<li>电话：12345678</li>
<li>手机：1234567890123</li>
<li>邮箱：hoho@haha.com</li>
<li>QQ：7654321</li>
</ul>
</div>

<div>
<ul class="abc">
<li class="tit">√&nbsp;&nbsp;&nbsp;&nbsp;技能</li>
<li>+ 体育方向</li>
<li>&nbsp;&nbsp;&nbsp;&nbsp;篮球 </li>
<li>&nbsp;&nbsp;&nbsp;&nbsp;足球 </li>
<li>+ 音乐方向</li>
<li>&nbsp;&nbsp;&nbsp;&nbsp;唱歌 </li>
<li>+ 技术方向</li>
<li>&nbsp;&nbsp;&nbsp;&nbsp;平面设计，Photoshop </li>
<li>&nbsp;&nbsp;&nbsp;&nbsp;网站开发，ASP,XHTML,DIV+CSS，基于WEB标准的开发</li>
</ul>
</div>
</div>

</div>

</div>
</body>
</html>
